{% set header_title = 'Gaming Template' %}
{% set header_title_show = false %}
{% set header_text = '

    <h1 class="nk-title display-4 text-shadow">
        Where Possibility Become <span style="color: #ECB145;">Reality</span>
    </h1>

    <h2 class="nk-title display-4 text-shadow">experience a strategy game-driven metaverse.
       
    </h2>
    
    


    <div class="nk-gap-2"></div>
    
        <a href="#" class="bk-btn nk-btn-login-no-border nk-btn-bg-lightorange">
            <span>Explore EDENVERDEN</span>
        </a>
        


    <div class="nk-gap-4"></div>
' %}
{% set header_image = 'assets/images/Earth-Header.png' %}
{% set header_size = 'full' %}
{% extends 'layouts/layout-2.html' %}

{% block content %}
    <!-- START: Rev Slider -->
    
    <!-- END: Rev Slider -->

    <!-- START: Features -->
    
    <!-- END: Features -->

    <!-- START: About -->
    <div class="nk-box bg-dark-1">
        <div class="container text-center">
            <div class="nk-gap-6"></div>
            <div class="nk-gap-2"></div>
            <h2 class="nk-title h1">Experience the Metaverse</h2>
            <div class="nk-gap-3"></div>

            <p class="lead">Determine how you survive and advance in your territory where there's no frontier to limit you.</p>

            <div class="wrap">
                <div class="tile"> 
                  <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>
                  <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  </div>
                 </div>
                
                
                <div class="tile"> 
                  <img src='https://images.unsplash.com/photo-1458668383970-8ddd3927deed?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1004&q=80'/>
                  <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  </div>
                 </div>
                  
                  <div class="tile"> 
                  <img src='https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80'/>
                  <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  </div>
                 </div>
                </div>
                  
                  
                </div>
            
            

            

            <div class="nk-gap-2"></div>
            <div class="container">
                <div class="nk-gap-3"></div>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap lg-gap justify-content-md-center">
                    <div class="col-md-4">
                        <div class="nk-ibox">
                            <!-- <div class="nk-ibox-icon nk-ibox-icon-circle ">
                                <span class="ion-ios-game-controller-b"></span>
                            </div> -->
                            <div class="nk-ibox-cont">
                                <h2 class="nk-ibox-title"> Business Owners </h2>
                                The metaverse workplace is a virtual reality environment that allows you to work from anywhere in the world. These virtual offices alleviates commute fares, increases productivity, which allows a more flexible timeframe for meetings.                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-ibox">
                            <!-- <div class="nk-ibox-icon nk-ibox-icon-circle">
                                <span class="icon ion-trophy"></span>
                            </div> -->
                            <div class="nk-ibox-cont">
                                <h2 class="nk-ibox-title">Marketer</h2>
                                Gamification marketing is an enhanced marketing technique that borrows design elements from games to attract and retain customers. consumers are encouraged to act because it offers elements of competition, corroboration, reward, and punishment.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row vertical-gap lg-gap mt-20 justify-content-md-center ">
                    <div class="col-md-4">
                        <div class="nk-ibox">
                            <!-- <div class="nk-ibox-icon nk-ibox-icon-circle">
                                <span class="icon ion-chatbox-working"></span>
                            </div> -->
                            <div class="nk-ibox-cont">
                                <h2 class="nk-ibox-title">HR manager</h2>
                                Through gamification we can boost employee engagement and train the team with fun. This can foster collaboration, reduce stress, and increase team spirit.                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-ibox">
                            <!-- <div class="nk-ibox-icon nk-ibox-icon-circle">
                                <span class="icon ion-chatbox-working"></span>
                            </div> -->
                            <div class="nk-ibox-cont">
                                <h2 class="nk-ibox-title">Event Organizers</h2>
                                AR and VR have become a popular choice to experience content for events. This can help organizers provide an immersive and engaging experience to attendees.                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-ibox">
                            <!-- <div class="nk-ibox-icon nk-ibox-icon-circle">
                                <span class="icon ion-chatbox-working"></span>
                            </div> -->
                            <div class="nk-ibox-cont">
                                <h2 class="nk-ibox-title">Professors</h2>
                                According to research, using games in teaching can help increase student participation, foster social skills, and motivate students to take risks.                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-gap-2"></div>
                <div class="nk-gap-6"></div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        
                        <!-- END: Counter -->
                    </div>
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="nk-gap-6"></div>
        </div>
    </div>

    
    <!-- END: About -->


    <!-- START: Video -->
    <section id="webcoderskull-area" class="webcoderskull-law-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<style>
                        h2 {
                          text-align: center;
                        }
                      </style>
                      
                      <h2>Everything you need for the experience</h2>
                      <style>
                        .sub-heading {
                          text-align: center;
                        }
                      </style>
                      
                      <p class="sub-heading">Lorem Ipsum</p>
					<div class="separator">
						<span class="single-line-middle"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<h3><a href="#">Interactive Events</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<h3><a href="#">Map Customization</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>				
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h3><a href="#">Event Editor</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>				
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-random" aria-hidden="true"></i>
						<h3><a href="#">Collectible Badges</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="http://www.webcoderskull.com" target="_blank" class="learn-more">Learn more</a>				
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h3><a href="#">Text/Voice Communication</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
							<a href="http://www.webcoderskull.com" target="_blank" class="learn-more">Learn more</a>				
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-diamond" aria-hidden="true"></i>
						<h3><a href="#">Character Customization</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="http://www.webcoderskull.com" target="_blank" class="learn-more">Learn more</a>				
					</div>
                
                
                    
				</div>
			</div> <!-- End Row -->	
		</div> <!-- End Container -->
	</section>
    <section id="webcoderskull-area" class="webcoderskull-law-area"><!--more Row-->>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<h3><a href="#">Reward Fuction</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<h3><a href="#">Introduction Customization</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>				
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="webcoderskull-item">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h3><a href="#">Gamification</a></h3>
						<p>Lorem ipsum dolor sitea amet, zixf cons  adipi cing elit, seddi do ipsum eiusmod brrtde mpor in didunt utlae ore etioe.Lorem ips new idolor sit amet.</p>
						<a href="" class="learn-more">Learn more</a>				
					</div>
				</div>
				
                
				</div>
			</div> <!-- End Row -->	
		</div> <!-- End Container -->
	</section>
    
    
    <!-- END: Video -->


    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="nk-store ">

            <!-- START: Products List -->
            <div class="row justify-content-sm-center">
                {% for product in shop %}
                    <div class="col-sm-7 col-lg-6">

                        <!-- START: Product -->
                        <div class="nk-product nk-ibox-cont" data-mouse-parallax-z="2">
                            <div>
                                <div class="nk-carousel-3" data-size="1" data-mouse-parallax-z="3">
                                    <div class="nk-carousel-inner nk-popup-gallery">
                                        {% for photo in product.photos %}
                                            <div><div>
                                                <img class="nk-img-stretch" src="{{ photo.sm }}" alt="{{ product.title }}">
                                            </div></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <h2 class="nk-product-title h5" data-mouse-parallax-z="1"><a href="{{ product.url }}">{{ product.title }}</a></h2>

                                {{ macros.rating(product.rating) }}

                                <div class="nk-product-bottom">
                                    <div>
                                        <div class="nk-product-price">{{ product.price | safe }}</div>
                                        <a href="#">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Product -->

                    </div>
                {% endfor %}
            </div>
            <!-- END: Products List -->
        </div>
        <div class="nk-gap-4"></div>

    </div>



    <!-- START: Coming Soon -->
    <!-- <div class="nk-box bg-dark-1 text-center">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="bg-image op-3">
            <img src="assets/images/image-3.jpg" alt="" class="jarallax-img">
        </div>
        <div class="container">
            <h2 class="display-4">Godlike II</h2>
            <div class="nk-gap"></div>
            <div>You don't get to be great without a victory...</div>
            <div class="nk-gap-4"></div>

            <div class="nk-countdown" data-end="2021-11-26 08:20" data-timezone="EST"></div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div> -->
    <!-- END: Coming Soon -->

    <!-- START: Testimonials -->
    
    <!-- END: Testimonials -->

    <!-- START: Subscribe -->
    <!-- <div class="nk-box bg-dark-1">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h2 class="nk-title text-center h1">Subscribe to our Newsletter</h2>
                    <div class="nk-gap-3"></div> -->

                    <!-- START: MailChimp Signup Form -->
                    <!-- <form action="//nkdev.us11.list-manage.com/subscribe/post?u=d433160c0c43dcf8ecd52402f&amp;id=68d0448ee3" method="post" class="nk-mchimp validate" target="_blank">
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email *">
                            <button class="nk-btn nk-btn-lg link-effect-4">Subscribe</button>
                        </div>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>
                        <small>We'll never share your email with anyone else.</small> -->
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d433160c0c43dcf8ecd52402f_68d0448ee3" tabindex="-1" value=""></div>
                    </form> -->
                    <!-- END: MailChimp Signup Form -->
                </div>
            </div>
        </div>
        <!-- <div class="nk-gap-2"></div> -->
        <!-- <div class="nk-gap-6"></div> -->
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Subscribe -->

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        var tpj=jQuery;
        var revapi50;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_50_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            }else{
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType:"carousel",
                    jsFileLocation:"assets/vendor/revolution/js/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        onHoverStop:"off",
                    },
                    carousel: {
                        maxRotation: 8,
                        vary_rotation: "off",
                        minScale: 20,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "off",
                        vary_fade: "off",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: -90,
                        stretch: "off"
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[800,600,400,320],
                    gridheight:[600,400,320,280],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:0,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
    </script>
{% endblock %}
